@import "tailwindcss";

@theme {

 
  --color-primary: #EA4C89;         /* Dribbble Pink */
  --color-primary-hover: #F06292;   /* Hover Pink */
  --color-gray-dark: #3D3D4E;       /* Dark Gray */
  --color-gray-light: #E7E7E9;      /* Light Gray */
  --color-gray-muted: #6E6D7A;      /* Muted Text Gray */
  --color-gray-border: #D1D1D1;     /* Border Gray */
  --color-light-pink: #faebf9;
  --color-link-hover: #7b7194;
  --color-nav-dropdown-border:#e7e7e980;
  --color-from: #f3f3f6;

  --font-sans:  var(--font-source-sans), Georgia, 'Times New Roman', Times, serif;
  --font-roboto: var(--font-roboto);
  
}

*{
  box-sizing: border-box;
}

.animate-fadein{
  animation: fade-in .3s ease-in-out;
}

@keyframes fade-in{
  from{
    opacity: .5;
    transform: translateX(-8px);
  }
  to{
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-video-fadein{
  animation: video-fade-in .4s ease-in-out;
}

@keyframes video-fade-in{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.animate-slide{
  animation: slide 20s infinite linear;
}




@keyframes slide {
  from{
    translate: 0;
  }
  to{
    translate: -100%;
  }
}


.pause-animation{
  animation-play-state: paused;
}


.filter-input:has(input:focus){
  border: 1.5px solid rgba(234,100,217,0.4);
  outline: 4px solid rgba(234,100,217,0.1);
}



